@font-face {
    font-family: nova;
    src: url(./fonts/NovaSquare-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: nova;
}

/* immagine montagne sfondo 1 */
.img1 {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    height: 50vw;
    width: 100vw;
    background-position: top;
    background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0)), url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* colore navbar */
.color1 {
    position: relative;
    color: black;
    text-align: center;
}

/* logo lorem  */
.logo {
    width: 100%;
    width: 10vw;
    justify-content: center;
}


/* scritta lorem grande inizio*/
.lm1 {
    
    width: 100vw;
    color: #9c0303;
    font-size: 6vw;
    text-size-adjust: auto;
    letter-spacing: 5vw;
}

/* testo virgolettato */

.virg {
    color: #9c0303;
    font-size: 3vw;
    
}

.virg2 {
    color: #9c0303;
    font-size: 3vw;
    
}

.txtvirg {
    width: 60vw;
    color: #0000005d;
    font-size: 2vw;
    font-style: italic;
}

.bgvirg {
    background-color: rgb(238, 238, 238);
}

.colly {
    top: 10vw;
}

.secol {
    
    text-align: center;
    padding: 4vw;
    background-color: rgb(238, 238, 238);
}

.sp1 {
    color: #9c0303;
}

.mt2 {
    /* background-image: url(/media/trees2.png); */
    height: 50vw;
    width: 100vw;
    top: 110vw;
}

.tm1 {
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    top: 160vw;
    
}

/* icone rosse */
.ptimeline{
    margin-top: 20px;
    border-top: #9c0303 solid 2px;
    font-size: 13px;
}

/* .ptimeline::before{
    content: '';
    width: 15px;
    height: 15px;
    background: #fafafa;
    position: absolute;
    left: 81px;
    top: 26px;
    border: #9c0303 solid 3px ;
    border-radius: 100%;
} */

.icons {
    font-size: 4vw;
    color: #9c0303;
}

.conicon {
    border-top: 10vh;
    background-color: rgb(238, 238, 238);
    text-align: center;
    /* width: 100vw; */
}
.timeline1 {
    border-bottom: 0.6vw solid #9c0303;
    border-radius: 20%;
    position: relative;
    list-style: none;
    width: auto
}

.timeline1 .timeline-item1 {
    position: relative;
}

.timeline1 .timeline-item1:after {
    position: absolute;
    display: block;
    top: -1.3vw;
}

.timeline1 .timeline-item1:after {
    background-color: #f5f5f5;
    border: #9c0303 solid 0.6vw;
    border-radius: 100%;
    height: 3vw;
    width: 3vw;
    content: "";
    position: absolute;
}


/* bottone */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    z-index: 3;
}


.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #9c0303;
    background: linear-gradient(0deg, #9c0303 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #9c0303;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #9c0303;
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.bgbutton {
    background: rgb(238, 238, 238) url(./media/trees2.png);
    /* width: 100vw; */
    height: 45vh;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}


/* Timeline bootstrap */
.single {
    background: rgb(255, 255, 255) url(./media/single.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: contain;
    height: auto;
}
.boxcustom {
    background: rgb(255, 255, 255);
    padding: 20px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

.timeline {
    border-left: 2px solid #c00d0d;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #f5f5f5;
    border: #9c0303 solid 2px;
    left: -45px;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    content: "";
}

/* our team */
.outcont {
    background-color: #ececec;
}

.ourtm {
    height: 15vw;
    width: 15vw;
    background-image: url(./media/mountain-547363_1920.jpg);
    border: #9c0303 solid 6px;
    border: #ffffff solid 4px;
    border-radius: 100%;
}

.outmcolor>h3 {
    color: #c00d0d;
    font-size: 18px
}

.outmcolor>p {
    color: black;
    font-size: 14px;
}

.outmcolor>span {
    color: #c00d0d;
    font-size: 22px;
}

.outmcolor {
    color: #c00d0d;
    font-size: 18px;
}

.ourtimeline {
    color: #c00d0d;
    font-size: 18px;
    display: inline;
}

/* our benefit */

.ourbenefit {
    height: 15vw;
    width: 15vw;
    background-image: url(./media/mountain-547363_1920.jpg);
    border: #9c0303 solid 6px;
    border-radius: 100%;
}

.ourbenefitcolor {
    color: #c00d0d;
    font-size: 18px;
    
    
}
.ourbenefitcolor>p {
    color: black;
    font-size: 14px;
}


.ourbenefitcolor>span {
    color: #c00d0d;
    font-size: 22px
}

.bgbenefit {
    background: #ececec url(./media/other.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}



/* footer  */


.fttxt {
    color: #ececec;
    font-size: 10px;
    /* padding: 0px 30px 0px 30px; */
    
}

.ftbg {
    background-color: darkred;
}

.fttxt>h3 {
    font-size: 16px;
    /* margin-top: 15px; */
    
}

h4 {
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .color1 {
      font-size: 2vw;
    }
  }

@media only screen and (max-width: 450px) {
    /* testo virgolettato */
    
    .virg {
        color: #9c0303;
        font-size: 20px;
        
    }
    
    .virg2 {
        color: #9c0303;
        font-size: 20px;
        
    }
    
    .txtvirg {
        width: 60vw;
        color: #0000005d;
        font-size: 13px;
        font-style: italic;
        word-break: break-all;
    }   
    /* icone rosse */
    .ptimeline{
        font-weight: 600;
    }
    .icons {
        font-size: 8vw;
        color: #9c0303;
    }
    
    .conicon {
        border-top: 10vh;
        background-color: rgb(238, 238, 238);
        text-align: center;
        /* width: 100vw; */ 
    }
    .secol {
        word-break: break-all;
        text-align: center;
        padding: 4vw;
        background-color: rgb(238, 238, 238);
    }
    .ourbenefit {
        height: 30vw;
        width: 30vw;
        background-image: url(./media/mountain-547363_1920.jpg);
        border: #9c0303 solid 3px;
        border-radius: 100%;
    }
    .ourtm {
        height: 20vw;
        width: 20vw;
        background-image: url(./media/mountain-547363_1920.jpg);
        border: #9c0303 solid 6px;
        border: #ffffff solid 4px;
        border-radius: 100%;
    }
    .logo {
        width: 20vw;
        justify-content: center;
    }
    
    /* scritta lorem grande inizio*/
    .lm1 {
        
        width: 100vw;
        color: #9c0303;
        font-size: 14vw;
        text-size-adjust: auto;
        letter-spacing: 5vw;
        
    }
}

